body {
  background: black;
}

.content {
  display: block;
  color: white;
  overflow: hidden;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

article {
  height: 100%;
}

.nav-list > li > a {
  font-family: "Playfair Display Variable", sans-serif;
}

.contact-page {
  height: 100vh;
  background: black;
  color: white;
  display: flex;
}

.video-back.black {
  color: white;
}

.contact-page__info {
  padding-left: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.contact-page__info h1,
p,
a {
  font-family: "Playfair Display Variable", sans-serif;
  font-weight: 500;
  max-width: 18rem;
  margin-bottom: 2rem;
}

a.get-in-touch {
  margin-top: 4rem;
  font-style: italic;
  text-decoration: underline;
}

p.title {
  margin-top: 2rem;
  margin-bottom: 0rem;
}
