body {
  background: black;
}

.content {
  display: block;
  color: white;
  overflow: hidden;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

article {
  height: 100%;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

iframe {
  max-height: 60vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-list > li > a {
  font-family: "Playfair Display Variable", sans-serif;
}

.contact-page {
  height: 95vh;
  margin-top: 5vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-back.black {
  color: white;
}

.contact-page__info {
  text-align: center;
}
.contact-page__info h1,
.contact-page__info p,
.contact-page__info a {
  font-family: "Playfair Display Variable", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  max-width: 40rem;
  margin-bottom: 2rem;
}

@media (max-width: 628px) {
  .contact-page__info h1,
  .contact-page__info p,
  .contact-page__info a {
    font-size: 1rem;
  }
}

a.get-in-touch {
  margin-top: 4rem;
  font-style: italic;
  text-decoration: underline;
}

p.title {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.row {
  width: 100vw;
}

.video-page--div {
  position: relative;
  height: 80vh;
}

@media (max-width: 628px) {
  .video-page--div {
    height: 100%;
  }
}

[data-intro-role="title"] {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 46%;
  z-index: 10;
  display: block;
  width: 50vw;
  height: 25vw;
  margin: 0rem auto;
  margin-top: -12vw;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-image: url(../images/ONLY_LOGO_White.png);
  will-change: transform;
  transition: transform 0.5s ease;
}

/* [data-intro-role="video"] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
} */

[data-intro-role="video"],
[data-intro-role="title"].shrink {
  animation: translateYAnimation 0.5s forwards;
}

@media (min-width: 628px) {
  [data-intro-role="title"] {
    display: none;
  }
}

/* .head-title {
  visibility: visible;
} */

@keyframes translateYAnimation {
  0% {
    transform: translateY(0);
    height: 25vw;
    top: 46%;
  }
  100% {
    height: 2.3rem;
    top: 14%;
  }
}

@media (orientation: portrait) [data-intro-role=title] {
  width: 72vw;
  height: 12.43636vw;
  margin: -6.21818vw auto 0;
}
