.hamburger-react {
  color: white;
  z-index: 1300;
}

.hamburger-react > div {
  height: 2.5px !important;
  width: 28px !important;
}

.nav--main {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  color: white;
  width: 20.75rem;
  padding: 1.5rem 1.25rem;
  border-right: 1px solid #fff;
  /* transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  backdrop-filter: blur(8px);
}

@media (max-width: 628px) {
  .nav--main {
    padding: 2rem 1.75rem;
  }
}

.nav--foot > ul {
  display: flex;
  flex-direction: row;
}

.nav-list--head > li {
  font-size: 1.8rem;
  line-height: 1.4;
}

@media (min-width: 628px) {
  .nav-list--head > li {
    font-size: 1.6rem;
    line-height: 1.2;
  }
}

.nav-list--head > li:hover {
  color: #808588;
}
.nav-list--head > li.selected {
  color: #808588;
}

.nav-list--foot {
  display: flex;
  justify-content: flex-start;
}

.nav-list--foot > li {
  margin: 0 0.5rem;
}

.contact > a {
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.head-title {
  position: fixed;
  left: 0;
  right: 0;
  top: 0.1rem;
  z-index: 1400;
  display: block;
  width: 8.75rem;
  color: white;
  height: 2.75rem;
  margin: 0.7rem auto;
  text-align: center;
  display: block;
}

@media (max-width: 628px) {
  .head-title {
    width: 6.625rem;
    height: 1.48977rem;
  }
  .head-title.first-load {
    display: none;
  }
}

.contact {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 1400;
  display: block;
  width: 3.2rem;
  color: white;
  height: 2.75rem;
  margin: 0 auto;
  text-align: center;
  z-index: 1200;
}

.playlist-content {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playlist-content > * {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  height: 40vw;
}

div.single-video {
  position: relative;
  cursor: pointer;
}

.single-video.full_layout {
  width: 100%;
  height: 40vw;
}

@media (max-width: 628px) {
  .single-video.full_layout.first-load {
    max-height: 100vh;
    height: 100vh;
    touch-action: none;
  }

  .single-video.full_layout.shrink {
    animation: transformHeight 0.5s forwards;
    touch-action: auto;
  }
}

@keyframes transformHeight {
  0% {
    height: 100vh;
    max-height: 100vh;
  }
  100% {
    height: 400px;
    max-height: 400px;
  }
}
.single-video.layout_half {
  width: 50%;
  height: 40vw;
}

.single-video.layout_third {
  width: 33.33%;
  height: 40vw;
}

.single-video.layout_fourth {
  width: 25%;
  height: 40vw;
}

.quarter-wrapper {
  width: 50%;
  height: 40vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}

.single-video.layout_quarter {
  width: 100%;
  height: 20vw;
}

.hamburger-container {
  position: fixed;
  z-index: 1500;
  margin-top: 0.5rem;
}

.hamburger-contact {
  display: none;
}

.single-video-title {
  position: absolute;
  z-index: 10012;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 628px) {
  .video-blurb {
    position: absolute;
    bottom: 0;
    padding: 0.75rem 0.5rem;
    height: 5.5rem;
    width: 100%;
  }
}

.video-title {
  color: #fff;
  opacity: 0.8;
}

.feature-image {
  overflow: hidden;
  height: 100%;
}

.video-information {
  position: absolute;
  z-index: 10012;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display Variable", sans-serif;
}

.credits {
  opacity: 0.8;
  font-size: 1em;
}

.no-left-margin > * {
  margin-left: 0;
}

.left-margin > *:not(:first-child) {
  margin-left: 5px;
}
.credits-name {
  text-transform: initial;
}

.credits-job {
  margin-right: 5px;
}

div.credits > p.credit {
  margin-bottom: 0rem;
  margin: 0 auto;
}

.video-embed__container {
  background: transparent !important;
  transform: unset;
  padding-bottom: unset;
  position: unset;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.video-embed__container iframe {
  background: transparent !important;
  width: 100vw;
  height: 100%;
}

.mov-file {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.mov-file mux-video {
  --media-object-fit: contain;
  --media-object-position: center;
  --controls: none;
}

#background-video {
  object-fit: cover;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  height: 100%;
  width: 100%;
}

.awards {
  position: absolute;
  right: 0.75rem;
  bottom: 0.5rem;
  min-width: 3rem;
  max-width: 4rem;
}

@media (min-width: 628px) {
  .awards {
    gap: 10px;
    width: 8%;
    position: absolute;
    right: 1rem;
  }

  .awards > * {
    width: 100%;
    height: auto;
  }

  .single-video.full_layout {
    height: 40vw;
  }

  #animate-single-video {
    height: 100vh;
  }
}

@media (max-width: 628px) {
  .row {
    height: auto;
  }
  .single-video.full_layout,
  .single-video.layout_half,
  .single-video.layout_third,
  .single-video.layout_fourth {
    width: 100vw !important;
    height: 400px;
  }

  .quarter-wrapper {
    height: 800px;
    width: 100vw;
  }
  .quarter-wrapper > * {
    width: 100vw !important;
    height: 400px;
  }
  .feature-image > img {
    width: 100vw;
    height: 400px !important;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .nav--main {
    width: 99.8vw;
  }

  .nav-list--head {
    margin-top: 4rem;
  }

  .contact {
    display: none;
  }

  .hamburger-contact {
    display: block;
  }
  .single-video.layout_quarter {
    width: 100%;
    height: 400px;
  }

  #animate-single-video {
    height: 100vh;
    max-height: 100vh !important;
  }
  #initial-single-video {
    height: 60vh;
    max-height: 60vh !important;
  }
}

.video-back {
  color: white;
  padding: 1rem;
  align-self: flex-end;
  z-index: 1000000;
}

@media (max-width: 628px) {
  .single-video > a > .single-video-title,
  .single-video > a > .video-information {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .single-video.blur > a > .single-video-title,
  .single-video.blur > a > .video-information {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

@media (max-width: 628px) {
  .blurBackground {
    filter: blur(5px);
    opacity: 1;
  }
}

@media (max-width: 628px) {
  .view-container {
    position: fixed;
    top: 15%;
    height: 70vh;
    width: 100vw;
    overflow: hidden;
  }
}

@media (max-width: 628px) {
  .blur {
    opacity: 0;
    transition: opacity 0.3s 0.1s ease-in;
  }
  .in-view {
    transition: opacity 0.3s ease-in; /* Transition for when the element comes into view */
  }
}
